/* #myBtnContainer {
  margin-inline-start: 7vw;
}

  .filterSelection {
  float: left;
  background-color: #f3969a;
  color: #884b60;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.animalcontainer {
  margin-top: 20px;
  overflow: hidden;
}

.btnFilter {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #884b60;
  color: #f3969a;
  cursor: pointer;
}

.btnFilter:hover {
  background-color: #884b60;
  color: #f3969a;
}

.btnFilter.active {
  background-color: #f3969a;
  color: #884b60;
} */

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}